<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #form-container {
            margin: 30px auto;
            width: 600px;
            background-color: rgb(240, 240, 240);
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.62);
            border: solid 1px rgba(0, 0, 0, 0.76)
        }

        body {
            background-color: rgb(206, 210, 236);
        }
    </style>
</head>
<body>
<div id="form-container">
    <form method="post">
        <p class="fw-bolder ">Doctor form:</p>
        <div class="input-group mb-3">
            <span class="input-group-text">Full name:</span>
            <input type="text" th:value="${doctor.getPerson().getFullName()}" class="form-control"
                   placeholder="Doctor`s full name" required name="fullName"
                   pattern="[A-Za-zА0-9]+\s?+[A-Za-zА]" maxlength="100" min="2">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Specialty:</span>
            <input type="text" th:value="${doctor.getSpecialty()}" class="form-control"
                   placeholder="Doctor`s specialty" required name="specialty"
                   pattern="[A-Za-zА0-9]+\s?+[A-Za-zА]" maxlength="100" min="1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Getting Started:</span>
            <input type="time" th:value="${#temporals.format(doctor.getStartHour(), 'HH:mm')}"
                   id="inputStartTime"
                   class="form-control" name="startTime" min="05:00" max="23:00" required>
            <span class="input-group-text">End of work:</span>
            <input type="time" th:value="${#temporals.format(doctor.getEndHour(), 'HH:mm')}"
                   id="inputEndTime"
                   class="form-control" name="endTime" min="05:00" max="23:00" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Date of birth:</span>
            <input type="date"
                   th:value="${#dates.format(doctor.getPerson().getDateOfBirth(), 'yyyy-MM-dd')}"
                   class="form-control" required name="date">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Gender:</span>
            <div style="width: max-content; margin: auto;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="FEMALE" name="sex"
                           th:checked="${#strings.equals(doctor.getPerson().getSex().toString(), 'FEMALE')}">
                    <label class="form-check-label">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="MALE" name="sex"
                           th:checked="${#strings.equals(doctor.getPerson().getSex().toString(), 'MALE')}">
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="OTHER" name="sex"
                           th:checked="${#strings.equals(doctor.getPerson().getSex().toString(), 'OTHER')}">
                    <label class="form-check-label">Other</label>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">E-mail:</span>
            <input type="text" id="email" th:value="${doctor.getPerson().getEmail()}"
                   class="form-control" placeholder="example.email@gmail.com" required name="mail"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Address:</span>
            <input type="text" th:value="${doctor.getPerson().getAddress()}" class="form-control"
                   placeholder="Doctor`s address" required name="address"
                   minlength="0" maxlength="100">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Phone number:</span>
            <input type="text" id="phoneInput" th:value="${doctor.getPerson().getTelephoneNumber()}"
                   class="form-control" placeholder="example: 380537496709" required name="phone"
                   pattern="[380][0-9]{11}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Username:</span>
            <input type="text" id="usernameInput" th:value="${doctor.getUser().getUsername()}"
                   class="form-control" placeholder="Account username" required name="username"
                   minlength="5" maxlength="100">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Password:</span>
            <input type="password" class="form-control" placeholder="Account password" required name="password"
                   minlength="5" maxlength="100">
        </div>
        <a style="text-decoration: none" href="/main">
            <button type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                Back
            </button>
        </a>
        <button type="submit" class="btn btn-outline-secondary">
            Submit
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" fill="currentColor"
                 class="bi bi-chevron-double-right" viewBox="0 0 12 19">
                <path fill-rule="evenodd"
                      d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"></path>
                <path fill-rule="evenodd"
                      d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
        </button>
    </form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer>
    const phone = document.getElementById("phoneInput");
    const username = document.getElementById("usernameInput");
    const email = document.getElementById("email");
    const start = document.getElementById("inputStartTime");
    const end = document.getElementById("inputEndTime");

    start.oninput = () => {
        checkTime();
    };

    end.oninput = () => {
        checkTime();
    };

    function checkTime() {
        const date = "2002-01-01T";

        if (Date.parse(date + end.value) - Date.parse(date + start.value) < 3 * 60 * 60 * 1000) {
            start.setCustomValidity("Invalid time");
            end.setCustomValidity("Invalid time");
        } else {
            start.setCustomValidity("");
            end.setCustomValidity("");
        }
    }


    username.oninput = () => {
        axios.get(`http://localhost:8080/api/user/exist?username=${username.value}`)
            .then((response) => {
                if (response.data) {
                    username.setCustomValidity("Username already exist!");
                } else {
                    username.setCustomValidity("");
                }
            })
    };

    phone.oninput = () => {
        axios.get(`http://localhost:8080/api/doctor/isPhoneValid?phone=${phone.value}`)
            .then((response) => {
                if (response.data) {
                    phone.setCustomValidity("Phone number already registered!");
                } else {
                    phone.setCustomValidity("");
                }
            })
    };

    email.oninput = () => {
        axios.get(`http://localhost:8080/api/doctor/isEmailValid?email=${email.value}`)
            .then((response) => {
                if (response.data) {
                    email.setCustomValidity("Email is already registered!");
                } else {
                    email.setCustomValidity("");
                }
            })
    };
</script>
</body>
</html>